<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zx.soft.api.dao.OauthMapper">

	<select id="selectOauthUserTWSinceId" parameterType="string" resultType="long">
	    SELECT `since_id` FROM `oauth_user_twitter` WHERE `username` = #{0};
	</select>

</mapper>